{{#partial "content"}}
    <div class="jumbotron-fluid text-center">
        <div class="container-fluid">
            <h1 class="display-4">Welcome to Job Wizard!</h1>
            <img class="img-fluid" src="images/main.jpg" alt="Jobs, you clown!">
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}